body {
  font: 0.8em "Pontano Sans";
  letter-spacing:0.7;
}


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.6px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.guideline {
  margin-right: 100px;
  float: right;
}

h1 {
  font-size:2.3em;
  letter-spacing:1px;
}

#ingress {
  font-size:1.1em;
  letter-spacing:0.9px;
}

#games {
  margin:0 0;
}

li {
  display:inline-block;
  text-decoration: none;
  margin-right:30px;
  font-size:1.5em;
  letter-spacing:1.2px;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  cursor:pointer;
  color:#D3D3D3;
}

#description {
  max-width:980px;
}

.selected {
  color:#BC4676;
}

.selected:hover {
  cursor:pointer;
}